<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<title>My Portfolio</title>
</head>
<body>
<div id="header">
<a href="{{ url_for('home') }}" class="header">Home</a>&nbsp
<a href="{{ url_for('about') }}" class="header">About Me</a>
<a href="{{ url_for('work') }}" class="header">Work</a> 
<a href="{{ url_for('contact') }}" class="header">Contact Me</a> 
<a href="{{ url_for('login') }}" class="header">Public Forum</a> 
</div>
<div id="content">
{% block content %}
{% endblock %}
</div>
</body>
</html>
